* {
    margin: 0;
    padding: 0;
}
body {
    background: #d8dee1;
    color: #25292f;
}

a {
    color: #cebb4a;
}

.logo{
    font-size: 30px;
}

header {
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    height: 100px;
    width: 100%;
    color: #cebb4a;
    background-color: #25292f;
}

footer {
    height: 30px;
    width: 100%;
    background-color: #25292f;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #cebb4a;
}